/* -----------
Katie Reider
Personal Portfolio
Stylesheet
2021
-------------- */

/* 
css reset
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:hover {
	text-decoration: none;
	color: initial;
}

/*------------------------------*/


/* Variables */
:root {
	/* Font Size */
	--global--font-size-xxs: 1.5vw;
	--global--font-size-xs: 1.75vw;
	--global--font-size-s: 2.35vw;
	--global--font-size-m: 3vw;
	--global--font-size-lg: 3.5vw;
	--global--letter-spacing: normal;

	/* Colors */
	--global--color-green: #008f6d;
	--global--color-yellow: #f9c04d;
	--global--color-blue: #123263;
	--global--color-grey: #c7c7c7;

}
/* 
* all font sizes. h6 excluded 
*	==============================================
*/ 
h1 {font-size: var(--global--font-size-lg);}
h2 {font-size: var(--global--font-size-m);}
h3 {font-size: var(--global--font-size-s);}
h4, .btn, p, .lght-brwn a, li, .form-control, #submit {font-size: var(--global--font-size-xs);}
h5, a, .smaller, .job ul li, .proj .btn, .column p, .column ul li, .more-photos blockquote, .personal-area p {font-size: var(--global--font-size-xxs);}

@media only screen and (max-width: 750px) {
	:root {
		/* Font Sizes */
		--global--font-size-xxs: 3.5vw;
		--global--font-size-xs: 4.5vw;
		--global--font-size-s: 5.25vw;
		--global--font-size-m: 7.25vw;
		--global--font-size-lg: 8.25vw;
	}
}
@media only screen and (max-width: 500px) {
	:root {
		/* Font Sizes */
		--global--font-size-xxs: 4.5vw;
		--global--font-size-xs: 5.5vw;
		--global--font-size-s: 6.25vw;
		--global--font-size-m: 8.25vw;
		--global--font-size-lg: 9.25vw;
	}
}


@media only screen and (min-width: 1500px) {.navbar-brand {font-size: var(--global--font-size-xs);}}
@media only screen and (max-width: 1000px) {.navbar-brand {font-size: var(--global--font-size-xs);}
											.nav-link {font-size: var(--global--font-size-s);}}

/* 
* Fonts 
*	==============================================
*/
@font-face {
	font-family: dosis;
	src: url('../fonts/Dosis/static/Dosis-regular.ttf');
	font-weight: normal;
}
@font-face {
	font-family: dosis-bold;
	src: url('../fonts/Dosis/static/Dosis-Bold.ttf');
	font-weight: normal;
}
@font-face {
	font-family: mulish;
	src: url('../fonts/Mulish/static/Mulish-Regular.ttf');
	font-weight: normal;
}
@font-face {
	font-family: mulish-bold;
	src: url('../fonts/Mulish/static/Mulish-Bold.ttf');
	font-weight: normal;
}
@font-face {
	font-family: overpass;
	src: url('../fonts/Overpass/static/Overpass-Regular.ttf');
	font-weight: normal;
}
@font-face {
	font-family: overpass-bold;
	src: url('../fonts/Overpass/static/Overpass-Bold.ttf');
	font-weight: normal;
}

/* Change all fonts right here */
#title, h2
{font-family: "dosis-bold"}
.hdr a
{font-family: "dosis";}
h4
{font-family: "mulish";}
h3
{font-family: "mulish-bold";}
nav ul li a, p, .navbar, .btn, ul li, blockquote
{font-family: "overpass";}
.h-bold
{font-family: "overpass-bold";}




/**
 * Responsive Styles | Root Media Query Variables
 *  ====================================================
 */
 :root {
	--global--spacing-horizontal: 25px;

	--responsive--spacing-horizontal: calc(2 * var(--global--spacing-horizontal) * 0.6);
	--responsive--aligndefault-width: calc(100vw - var(--responsive--spacing-horizontal));
	--responsive--alignwide-width: calc(100vw - var(--responsive--spacing-horizontal));
	--responsive--alignfull-width: 100%;
}

@media only screen and (min-width: 200px) {

	:root {
		--responsive--aligndefault-width: min(calc(100vw - 4 * var(--global--spacing-horizontal)), 699px); 
		--responsive--alignwide-width: calc(100vw - 4 * var(--global--spacing-horizontal));
	}
}
@media only screen and (min-width: 750px) {

	:root {
		--responsive--aligndefault-width: min(calc(115vw - 8 * var(--global--spacing-horizontal)), 999px); 
		--responsive--alignwide-width: min(calc(115vw - 8 * var(--global--spacing-horizontal)), 999px); 
	}
}
@media only screen and (min-width: 1000px) {

	:root {
		--responsive--aligndefault-width: min(calc(108vw - 10 * var(--global--spacing-horizontal)), 2250px); 
		--responsive--alignwide-width: min(calc(108vw - 10 * var(--global--spacing-horizontal)), 2250px); 
	}
}

/*error styling */
.error {
	padding: 10vw;
}

/*
* Button Styling
*	==============================================
*/
.btn {
	border: .1vw solid white;
	color: black;
	background-color: white;
    border-radius: 5px;
	padding: .75vw 2vw;
	text-align: center;
    text-decoration: none;
	cursor: pointer;
	/*position: absolute;*/
	margin: 1vw 2.75vw;

}
.btn:hover {
	text-decoration: none;
}
.space {
	height: 4vw;
	position: relative;
}
/*colors for buttons */
.green {
	border-color: var(--global--color-green);
    color: var(--global--color-green);
}
.green:hover {
	border-color: white;
	background-color: var(--global--color-green);
	color: white;
}
.rev-green {
	border-color: white;
	background-color: var(--global--color-green);
	color: white;
}
.rev-green:hover {
	border-color: var(--global--color-green);
    color: var(--global--color-green);
	background-color: white;
}
.rev-blue {
	border-color: white;
	background-color: var(--global--color-blue);
	color: white;
}
.rev-blue:hover {
	border-color: var(--global--color-blue);
    color: var(--global--color-blue);
	background-color: white;
}


.buttons {
	display: flex;
	justify-content: center;
	padding-bottom: 3vw;
}



/*
* Links & nav hovering
*	==============================================
*/
/* bootstrap nav */
.navbar {
	width: 100%;
}
.navbar-expand-lg .navbar-collapse {
	justify-content: flex-end;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,1);
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0, 1);
    border-color: #ffffff;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}
.navbar-light .navbar-toggler {
	color: rgba(0,0,0,0);
}

/*my css*/
a {
	text-decoration: none;
}
.sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
	z-index: 1000;
	padding: 1vw 1.5vw;
}





/*
* Header & Navigation
*	==============================================
*/
.header {
	width: var(--responsive--aligndefault-width);
	margin: auto;
	padding: .5vw 0;

	display: flex;
	justify-content: space-between;
	align-items: center;
}
.hdr {
	padding: 1vw 0;
}
nav ul {
	display: flex;
	flex-direction: row;
}
nav ul li a {
	padding: 1vw;
}




/*
* Title
*	==============================================
*/
.margins {
	width: calc( .75 * var(--responsive--aligndefault-width));
	margin: auto;
	padding: 3vw;
}
#title {
	background-color: var(--global--color-green);
	padding: 5vw 5vw 8vw 5vw;
}

@media only screen and (max-width: 1000px) {
	.margins {
		padding-top: 5vw;
	}
}

@media only screen and (max-width: 750px) {
	.margins {
		width: 100%;
		margin: 0;
		padding: 0;
		padding-top: 10vw;

		text-align: center;
	}
	#title {
		padding: 8vw 5vw;
	}
	.buttons {
		display: none;
	}
}

@media only screen and (max-width: 500px) {
	.margins {
		width: 100%;
		margin: 0;
		padding: 0;
		padding-top: 10vw;

		text-align: center;
	}
	#title {
		padding: 8vw 5vw;
	}
	.buttons {
		display: none;
	}
}




/*
* About
*	==============================================
*/
.about-section {
	background-color: var(--global--color-green);
	padding: 6.5vw 0 5vw 0;
}
.about-section p, .experience-section p, .pnc-section p {
	line-height: 1.5;
}
#about, #exp, #project {
	width: calc( .85 * var(--responsive--aligndefault-width));
	margin: auto;
	display: flex;
	justify-content: space-between;

}
.img-overlay, .about-section img, .experience-section img, .pnc-section img {
    position: relative;
	width: 20vw;
	height: 27vw;
	border-radius: 2vw;
	object-fit: cover;
}
.img-overlay .over {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background-image: linear-gradient(to left, rgba(0,0,0, .3), rgba(0,0,0, .3));
	border-radius: 2vw;
}
.img-overlay .zmdi {
	bottom: 0;
	right: 0;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 1vw 8vw 1vw 0;
}

@media only screen and (max-width: 750px) {
	#about, #exp, #project {
		width: calc( .9 * var(--responsive--aligndefault-width));
		margin: auto;
	}

	.homepage-only.info {
		flex-direction: column-reverse;
		padding: 5vw 0 1vw 0;
		align-items: center;
	}
	.H {
		display: none;
	}
	#trouble {
		text-align: center;
	}
	#about {
		flex-direction: column-reverse;
	}
	#about, #exp, #project {
		align-items: center;
	}
	h2 {
		padding-bottom: 2vw;
		text-align: center;
	}
	.img-overlay, .about-section img, .experience-section img, .pnc-section img {
		width: 42.5vw;
		height: 50vw;
	}
}

@media only screen and (max-width: 500px) {
	#about, #exp, #project {
		width: calc( .95 * var(--responsive--aligndefault-width));
		margin: auto;
	}

	.homepage-only.info {
		flex-direction: column-reverse;
		padding: 5vw 0 1vw 0;
		align-items: center;
	}
	.H {
		display: none;
	}
	#trouble {
		text-align: center;
	}
	#about {
		flex-direction: column-reverse;
	}
	#about, #exp, #project {
		align-items: center;
	}
	h2 {
		padding-bottom: 2vw;
		text-align: center;
	}
	.img-overlay, .about-section img, .experience-section img, .pnc-section img {
		width: 42.5vw;
		height: 50vw;
	}
}




/*
* Projects
*	==============================================
*/
.project-section {
	background-color: var(--global--color-grey);
	padding: 3vw 0 5vw 0;
}
.project-section * {
	width: calc( .85 * var(--responsive--aligndefault-width));
	margin: auto;
}
.gallery img, .proj img {
	height: 20vw;
	width: 20vw;
	object-fit: cover;
	border-radius: 5px;
}
.gallery, .proj {
	display: flex;
}
.background {
	display: flex;
	padding: 1vw;
	background-color: var(--global--color-blue);
	margin: 2vw;
	border-radius: 5px;
	
	position: relative;
}
.background .zmdi {
	position: absolute;
	bottom: 3%;
	right: 7%;
}
.project-section h2, .project-section p {
	text-align: center;
	padding-top: .5vw;
}
.project-section h2 {
	padding-top: 2vw;
}

@media only screen and (max-width: 750px) {
	.background {
		width: 54vw;
		height: 54vw;
		justify-content: center;
		align-items: center;
	}
	.gallery img, .proj img {
		height: 50vw;
		width: 50vw;
	}
	
}

@media only screen and (max-width: 500px) {
	.background {
		width: 64vw;
		height: 64vw;
		justify-content: center;
		align-items: center;
	}
	.gallery img, .proj img {
		height: 60vw;
		width: 60vw;
	}
	
}


/*
* 	Contact 
*	==============================================
*/
.contact-area {
	background-color: var(--global--color-yellow);
}
/* for the contact-form */
form {
	width: 50%;
	background-color: white;
	padding: 2vw 0 4vw 0;
	margin-right: 4vw;

	position: relative;
}
.col-md-6 {
	width: 100%;
}
.form-control, .form-control:hover, .form-control:focus {
	background-color: var(--global--color-grey);
	transition: none;
	border-radius: 0;
	box-shadow: none;
}
.form-control:focus {
	border-color: rgba(18, 50, 99, .5);
}
#name.form-control, #telephone.form-control {
	height: 4vw
}
#textarea.form-control {
	height: 25vw;
}
.container {
	max-width: var(--responsive--aligndefault-width);
	padding: 5vw;
}
.pd, #submit {
	padding: 0 2vw;
}
#submit {
	color: black;
	text-align: right;

	position: absolute;
	right: 9%;
	bottom: 1.5vw;
}
.zmdi-trending-flat {
	position: absolute;
    bottom: -1.25vw;
    right: -22%;
}

/* for the socials */
.container {
	display: flex;
	justify-content: space-around;
}
.links {
	display: flex;
	padding: 4vw 0 0 0;
}
.social {
	height: 6vw;
	padding: 0 1.25vw
}
.social-text {
	display: flex;
	flex-direction: column;
	height: 75%;
	justify-content: space-around;
}
.social-text h2 {
	text-align: right;
}
.email p {
	padding: 1vw 0;
}
.back {
	background-color: var(--global--color-blue);
	padding: 1vw;
	border-radius: 100px;
	height: 6vw;
}
 a.social:nth-child(2n) .back {
	background-color: var(--global--color-green);
}
.zmdi{
	font-size: 4vw;
	height: 4vw;
	width: 4vw;
	text-align: center;
	color: white;
}
.zmdi.black {
	color: black;
}
.project-section a {
	width: unset;
}
#ital {
	font-style: italic;
}


@media only screen and (max-width: 750px) {
	.container {
		flex-direction: column;
		align-items: center;
		max-width: 100%;
	}
	form {
		width: 100%;
		padding-bottom: 8vw;
		margin-right: 0;
	}
	#textarea.form-control {
		height: 55vw;
	}
	#name.form-control, #telephone.form-control {
		height: 10vw;
	}
	.pd {
		padding: 0 4vw;
	}
	.socials-area .zmdi {
		font-size: 10vw;
		height: 10vw;
		width: 10vw;
	}
	.back, .social {
		height: 12vw;
	}
	.links {
		padding: 4vw 0 4vw 0;
		justify-content: center;
	}
	.social-text {
		flex-direction: column-reverse;
		align-items: center;
	}
	.email {
		text-align: center;
	}


	.zmdi {
		font-size: 7vw;
		height: 7vw;
		width: 7vw;
	}
	#submit {
		padding: 0 4vw;
	}
}

@media only screen and (max-width: 500px) {
	.container {
		flex-direction: column;
		align-items: center;
		max-width: 100%;
	}
	form {
		width: 100%;
		padding-bottom: 8vw;
		margin-right: 0;
	}
	#textarea.form-control {
		height: 55vw;
	}
	#name.form-control, #telephone.form-control {
		height: 10vw;
	}
	.pd {
		padding: 0 4vw;
	}
	.socials-area .zmdi {
		font-size: 12vw;
		height: 12vw;
		width: 12vw;
	}
	.back, .social {
		height: 14vw;
	}
	.links {
		padding: 4vw 0 4vw 0;
		justify-content: center;
	}
	.social-text {
		flex-direction: column-reverse;
		align-items: center;
	}
	.email {
		text-align: center;
	}


	.zmdi {
		font-size: 8vw;
		height: 8vw;
		width: 8vw;
	}
	#submit {
		padding: 0 4vw;
	}
}


/*
* Footer
*	==============================================
*/
footer {
	background-color: var(--global--color-grey);
}
.ftr {
	width: calc(.969 * var(--responsive--aligndefault-width));
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 1vw 0;
}
.ftr a {
	color: black;
}
.ftr a:hover {
	color: rgba(0,0,0,.5);
}




/*---------------------------------------*/

/*
* Individual Pages
*	==============================================
*/




/*
* about/personal background page
*	==============================================
*/
.personal-area {
	width: calc( .95 * var(--responsive--aligndefault-width));
	margin: auto;

	padding: 7vw 0;
	display: flex;
}
.column-1, .column-2, .column-3, .column-4 {
	display: flex;
	flex-direction: column;
}
.column-1, .column-4 {
	flex-basis: 30%;
}
.column-2, .column-3 {
	flex-basis: 20%;
}
.column-2 {
	align-items: flex-end;
}
.column-3 {
	align-items: flex-start;
}


.personal-area p {
	line-height: 1.15;
	padding: 0 .75vw
}
.personal-area img {
	width: 15vw;
	height: 10vw;
	object-fit: cover;
}
.block-height {
	height: 10vw;
}
.column-4 .block-height {
	padding-top: 1.5vw;
}
.height {
	height: 11.5vw !important;
}
.more-h {
	height: 11.5vw;
	position: relative;
}
.more-h img {
	position: absolute;
	bottom: 0;
	left:0;
}
.block {
	height: 10vw;
	width: 10vw;
}
.grn {
	background-color: var(--global--color-green);
}
.blue {
	background-color: var(--global--color-blue);
}
.yellow {
	background-color: var(--global--color-yellow);
}
.grey {
	background-color: var(--global--color-grey);
}

.more-photos {
	width: calc( .85 * var(--responsive--aligndefault-width));
	margin: auto;
	text-align: center;
	padding: 1vw 0 6vw 0;
}
.more-photos p {
	padding: 1vw;
}

.personal-area-mobile {
	display: none;
}

@media only screen and (max-width: 750px) {
	.aboutpage #about {
		padding-top: 9vw;
	}
	.info {
		padding-right: 0;
	}
	.personal-area {
		display: none;
	}
	.personal-area-mobile {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		width: calc( .85 * var(--responsive--aligndefault-width));
		margin: auto;
		padding: 6vw 0 0 0;
	}
	
	.personal-area-mobile * {
		padding: 2vw 0;
	}
	.personal-area-mobile img {
		height: 50vw;
		width: 70vw;
		object-fit: cover;
		padding: 2vw;
		border-radius: 2px;
	}
	.personal-area-mobile p {
		padding: 4vw 0 6vw 0;
	}
	.personal-area-mobile img:nth-child(1) {
		background-color: var(--global--color-green);
	}
	.personal-area-mobile img:nth-child(3) {
		background-color: var(--global--color-yellow);
	}
	.personal-area-mobile img:nth-child(5) {
		background-color: var(--global--color-blue);
	}
	.personal-area-mobile img:nth-child(7) {
		background-color: var(--global--color-grey);
	}

	.more-photos .btn {
		padding: 2vw;
	}
}


@media only screen and (max-width: 500px) {
	.aboutpage #about {
		padding-top: 9vw;
	}
	.info {
		padding-right: 0;
	}
	.personal-area {
		display: none;
	}
	.personal-area-mobile {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		width: calc( .85 * var(--responsive--aligndefault-width));
		margin: auto;
		padding: 6vw 0 0 0;
	}
	
	.personal-area-mobile * {
		padding: 2vw 0;
	}
	.personal-area-mobile img {
		height: 60vw;
		width: 80vw;
		object-fit: cover;
		padding: 2vw;
		border-radius: 2px;
	}
	.personal-area-mobile p {
		padding: 4vw 0 6vw 0;
	}
	.personal-area-mobile img:nth-child(1) {
		background-color: var(--global--color-green);
	}
	.personal-area-mobile img:nth-child(3) {
		background-color: var(--global--color-yellow);
	}
	.personal-area-mobile img:nth-child(5) {
		background-color: var(--global--color-blue);
	}
	.personal-area-mobile img:nth-child(7) {
		background-color: var(--global--color-grey);
	}

	.more-photos .btn {
		padding: 2vw;
	}
}



/*
*  work/experiences page
*	==============================================
*/
.experience-section {
	background-color: var(--global--color-grey);
	padding: 7.5vw 0 5vw 0;
}
.text-section {
	width: calc( .85 * var(--responsive--aligndefault-width));
	margin: auto;
}
.text-section h3 {
	padding: 3vw 0 2vw 0;
}
.job {
	display: flex;
	height: 12vw;
}
.job p {
	line-height: 1.5;
}
.title-info {
	flex-basis: 40%;
	padding-right: 2vw;
}
.description {
	flex-basis: 60%;
}
.job ul li {
	list-style-type: square;
	line-height: 1.5
}

.gallery-exp img{
	height: 17vw;
    width: 17vw;
    object-fit: cover;
    border-radius: 5px;
}
.gallery-exp {
	width: calc( .85 * var(--responsive--aligndefault-width));
	margin: auto;
	display: flex;
	padding: 5vw 0;
	justify-content: space-between;
}

@media only screen and (max-width: 750px) {
	.exppage {
		padding-top: 7vw;
	}
	#exp {
		flex-direction: column-reverse;
	}
	#exp h2 {
		padding-bottom: 4vw;
	}

	.job {
		flex-direction: column;
		height: 100%;
		padding: 4vw 0;
	}
	.job ul {
		padding: 1vw 3vw;
	}
	.text-section {
		width: calc( .9 * var(--responsive--aligndefault-width));
		margin: auto;
	}
	.text-section h3 {
		padding-top: 7vw;
	}
	.gallery-exp {
		flex-direction: column;
		align-items: center;
		padding: 8vw 0;
	}
	.gallery-exp img {
		height: 50vw;
		width: 50vw;
		margin: 1vw 0;
	}
}


@media only screen and (max-width: 500px) {
	.exppage {
		padding-top: 7vw;
	}
	#exp {
		flex-direction: column-reverse;
	}
	#exp h2 {
		padding-bottom: 4vw;
	}

	.job {
		flex-direction: column;
		height: 100%;
		padding: 4vw 0;
	}
	.job ul {
		padding: 1vw 3vw;
	}
	.text-section {
		width: calc( .95 * var(--responsive--aligndefault-width));
		margin: auto;
	}
	.text-section h3 {
		padding-top: 7vw;
	}
	.gallery-exp {
		flex-direction: column;
		align-items: center;
		padding: 8vw 0;
	}
	.gallery-exp img {
		height: 60vw;
		width: 60vw;
		margin: 1vw 0;
	}
}





/*
*  projects & coursework page
*	==============================================
*/
.pnc-section {
	background-color: var(--global--color-blue);
	padding: 7.5vw 0 5vw 0;
	color: var(--global--color-grey);
}
.pnc-section h2 {
	width: 35%;
}
#project ul li {
	list-style-type: square;
	line-height: 1.5;
	margin-left: 1.5vw;
}
.projects {
	width: calc( .85 * var(--responsive--aligndefault-width));
	margin: auto;
	padding: 1vw 0;
}
.proj {
	justify-content: space-between;
}
.projects .background {
	background-color: var(--global--color-grey);
}
.sect {
	padding: 2vw;

	display: flex;
	flex-direction: column;
	justify-content: center;
	line-height: 1.5;
}
.sect .btn {
	margin: 1vw 0;
	width: 15vw;
}
.proj.two {
	flex-direction: row-reverse;
}
.proj .btn.longer {
	width: 25vw;
}


.yellow-wrapping {
	background-color: var(--global--color-yellow);
}
.courses {
	width: calc( .9 * var(--responsive--aligndefault-width));
	margin: auto;
	padding: 4vw 0;
}
.cols {
	display: flex;
	padding-top: 2vw; 
}
.column {
	line-height: 1.5;
	flex-basis: 33%;
}
.column ul li {
	list-style-type: square;
	margin-left: 1.5vw;
	line-height: 1.75;
}
.column:first-child {
	padding-right: 1vw;
}
.column:nth-child(2) {
	padding: 0 1vw;
}
.column:last-child {
	padding-left: 1vw;
}

@media only screen and (max-width: 750px) {
	.projectspage {
		padding-top: 8vw;
	}
	.pnc-section h2 {
		width: 100%;
		padding-bottom: 4vw;
	}
	#project {
		flex-direction: column-reverse;
	}
	.projects {
		width: calc( .9 * var(--responsive--aligndefault-width));
		margin: auto;
		padding: 4vw 0;
	}

	.proj, .proj.two {
		padding: 2vw 0;
	}
	.proj p, .proj.two p{
		padding-bottom: 2vw; 
	}
	.gallery, .proj, .proj.two {
		flex-direction: column;
		align-items: center;
	}
	.sect .btn, .proj .btn.longer {
		width: initial;
	}
	.btn {
		padding: 2vw 0;
	}

	.courses {
		padding: 7vw 0;
	}
	.cols {
		flex-direction: column;
	}
	.column:first-child {
		padding-bottom: 7vw;
	}
	.column:nth-child(2) {
		padding-bottom: 7vw;
	}
	.column ul {
		padding: 0 3vw;
	}
}

@media only screen and (max-width: 500px) {
	.projectspage {
		padding-top: 8vw;
	}
	.pnc-section h2 {
		width: 100%;
		padding-bottom: 4vw;
	}
	#project {
		flex-direction: column-reverse;
	}
	.projects {
		width: calc( .95 * var(--responsive--aligndefault-width));
		margin: auto;
		padding: 4vw 0;
	}

	.proj, .proj.two {
		padding: 2vw 0;
	}
	.proj p, .proj.two p{
		padding-bottom: 2vw; 
	}
	.gallery, .proj, .proj.two {
		flex-direction: column;
		align-items: center;
	}
	.sect .btn, .proj .btn.longer {
		width: initial;
	}
	.btn {
		padding: 2vw 0;
	}

	.courses {
		padding: 7vw 0;
	}
	.cols {
		flex-direction: column;
	}
	.column:first-child {
		padding-bottom: 7vw;
	}
	.column:nth-child(2) {
		padding-bottom: 7vw;
	}
	.column ul {
		padding: 0 3vw;
	}
}