/* -----------
Katie Reider
Personal Portfolio
Stylesheet
2021
-------------- */

/* 
css reset
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:hover {
	text-decoration: none;
	color: initial;
}

/*------------------------------*/


/* Variables */
:root {
	/* Font Size */
	--global--font-size-xxs: 1vw;
	--global--font-size-xs: 1.35vw;
	--global--font-size-s: 2vw;
	--global--font-size-m: 2.5vw;
	--global--font-size-lg: 3vw;
	--global--letter-spacing: normal;

	/* Colors */
	--global--color-green: #008f6d;
	--global--color-yellow: #f9c04d;
	--global--color-blue: #123263;
	--global--color-grey: #c7c7c7;

}
/* 
* all font sizes. h6 excluded 
*	==============================================
*/ 
h1 {font-size: var(--global--font-size-lg);}
h2 {font-size: var(--global--font-size-m);}
h3 {font-size: var(--global--font-size-s);}
h4, .btn, p, .lght-brwn a, li, .form-control, #submit {font-size: var(--global--font-size-xs);}
h5, a {font-size: var(--global--font-size-xxs);}

@media only screen and (min-width: 1500px) {.navbar-brand {font-size: var(--global--font-size-xs);}}
@media only screen and (max-width: 1000px) {.navbar-brand {font-size: var(--global--font-size-s);}
											.nav-link {font-size: var(--global--font-size-s);}}
@media only screen and (max-width: 700px) {.navbar-brand {font-size: var(--global--font-size-m);}}

/* 
* Fonts 
*	==============================================
*/
@font-face {
	font-family: dosis;
	src: url('../fonts/Dosis/static/Dosis-regular.ttf');
	font-weight: normal;
}
@font-face {
	font-family: dosis-bold;
	src: url('../fonts/Dosis/static/Dosis-Bold.ttf');
	font-weight: normal;
}
@font-face {
	font-family: mulish;
	src: url('../fonts/Mulish/static/Mulish-Regular.ttf');
	font-weight: normal;
}
@font-face {
	font-family: mulish-bold;
	src: url('../fonts/Mulish/static/Mulish-Bold.ttf');
	font-weight: normal;
}
@font-face {
	font-family: overpass;
	src: url('../fonts/Overpass/static/Overpass-Regular.ttf');
	font-weight: normal;
}
@font-face {
	font-family: overpass-bold;
	src: url('../fonts/Overpass/static/Overpass-Bold.ttf');
	font-weight: normal;
}

/* Change all fonts right here */
#title, h2
{font-family: "dosis-bold"}
.hdr a
{font-family: "dosis";}
h4, button a
{font-family: "mulish";}
nav ul li a, p, .navbar
{font-family: "overpass";}
.h-bold
{font-family: "overpass-bold";}




/**
 * Responsive Styles | Root Media Query Variables
 *  ====================================================
 */
 :root {
	--global--spacing-horizontal: 25px;

	--responsive--spacing-horizontal: calc(2 * var(--global--spacing-horizontal) * 0.6);
	--responsive--aligndefault-width: calc(100vw - var(--responsive--spacing-horizontal));
	--responsive--alignwide-width: calc(100vw - var(--responsive--spacing-horizontal));
	--responsive--alignfull-width: 100%;
}

@media only screen and (min-width: 200px) {

	:root {
		--responsive--aligndefault-width: min(calc(100vw - 4 * var(--global--spacing-horizontal)), 699px); 
		--responsive--alignwide-width: calc(100vw - 4 * var(--global--spacing-horizontal));
	}
}
@media only screen and (min-width: 700px) {

	:root {
		--responsive--aligndefault-width: min(calc(115vw - 8 * var(--global--spacing-horizontal)), 999px); 
		--responsive--alignwide-width: min(calc(115vw - 8 * var(--global--spacing-horizontal)), 999px); 
	}
}
@media only screen and (min-width: 1000px) {

	:root {
		--responsive--aligndefault-width: min(calc(108vw - 10 * var(--global--spacing-horizontal)), 2250px); 
		--responsive--alignwide-width: min(calc(108vw - 10 * var(--global--spacing-horizontal)), 2250px); 
	}
}



/*
* Button Styling
*	==============================================
*/
.btn {
	border: .1vw solid white;
	color: black;
	background-color: white;
    border-radius: 5px;
	padding: .75vw 2vw;
	text-align: center;
    text-decoration: none;
	cursor: pointer;
	/*position: absolute;*/
	margin: 1vw 2.75vw;

}
.btn:hover {
	text-decoration: none;
}
.space {
	height: 4vw;
	position: relative;
}
/*colors for buttons */
.green {
	border-color: var(--global--color-green);
    color: var(--global--color-green);
}
.green:hover {
	border-color: white;
	background-color: var(--global--color-green);
	color: white;
}
.rev-green {
	border-color: white;
	background-color: var(--global--color-green);
	color: white;
}
.rev-green:hover {
	border-color: var(--global--color-green);
    color: var(--global--color-green);
	background-color: white;
}



.buttons {
	display: flex;
	justify-content: center;
	padding-bottom: 3vw;
}



/*
* Links & nav hovering
*	==============================================
*/
/* bootstrap nav */
.navbar {
	width: 100%;
}
.navbar-expand-lg .navbar-collapse {
	justify-content: flex-end;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,1);
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0, 1);
    border-color: #ffffff;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

/*my css*/
a {
	text-decoration: none;
}





/*
* Header & Navigation
*	==============================================
*/
.header {
	width: var(--responsive--aligndefault-width);
	margin: auto;
	padding: .5vw 0;

	display: flex;
	justify-content: space-between;
	align-items: center;
}
.hdr {
	padding: 1vw 0;
}
nav ul {
	display: flex;
	flex-direction: row;
}
nav ul li a {
	padding: 1vw;
}




/*
* Title
*	==============================================
*/
.margins {
	width: calc( .75 * var(--responsive--aligndefault-width));
	margin: auto;
	padding: 3vw;
}
#title {
	background-color: var(--global--color-green);
	padding: 5vw 5vw 8vw 5vw;
}





/*
* About
*	==============================================
*/
.about-section {
	background-color: var(--global--color-green);
	padding: 5vw 0;
}
.about-section p, .experience-section p {
	line-height: 1.5;
}
#about, #exp {
	width: calc( .85 * var(--responsive--aligndefault-width));
	margin: auto;
	display: flex;
	justify-content: space-between;

}
.img-overlay, .about-section img, .experience-section img {
    position: relative;
	width: 20vw;
	height: 27vw;
	border-radius: 22px;
	object-fit: cover;
}
.img-overlay .over {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background-image: linear-gradient(to left, rgba(0,0,0, .3), rgba(0,0,0, .3));
	border-radius: 22px;
}
.img-overlay .zmdi {
	bottom: 0;
	right: 0;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 1vw 8vw 1vw 0;
}






/*
* Projects
*	==============================================
*/
.project-section {
	background-color: var(--global--color-grey);
	padding: 3vw 0 5vw 0;
}
.project-section * {
	width: calc( .85 * var(--responsive--aligndefault-width));
	margin: auto;
}
.gallery img {
	height: 20vw;
	width: 20vw;
	object-fit: cover;
	border-radius: 5px;
}
.gallery {
	display: flex;
}
.background {
	display: flex;
	padding: 1vw;
	background-color: var(--global--color-blue);
	margin: 2vw;
	border-radius: 5px;
	
	position: relative;
}
.background .zmdi {
	position: absolute;
	bottom: 3%;
	right: 7%;
}
.project-section h2, .project-section p {
	text-align: center;
	padding-top: .5vw;
}
.project-section h2 {
	padding-top: 2vw;
}





/*
* 	Contact 
*	==============================================
*/
.contact-area {
	background-color: var(--global--color-yellow);
}
/* for the contact-form */
form {
	width: 50%;
	background-color: white;
	padding: 2vw 0 4vw 0;
	margin-right: 4vw;

	position: relative;
}
.col-md-6 {
	width: 100%;
}
.form-control, .form-control:hover, .form-control:focus {
	background-color: var(--global--color-grey);
	transition: none;
	border-radius: 0;
	box-shadow: none;
}
.form-control:focus {
	border-color: rgba(18, 50, 99, .5);
}
#name.form-control, #telephone.form-control {
	height: 4vw
}
#textarea.form-control {
	height: 25vw;
}
.container {
	max-width: var(--responsive--aligndefault-width);
	padding: 5vw;
}
.pd, #submit {
	padding: 0 2vw;
}
#submit {
	color: black;
	text-align: right;

	position: absolute;
	right: 9%;
	bottom: 1.5vw;
}
.zmdi-trending-flat {
	position: absolute;
    bottom: -1.25vw;
    right: -22%;
}

/* for the socials */
.container {
	display: flex;
	justify-content: space-around;
}
.links {
	display: flex;
	padding: 4vw 0 0 0;
}
.social {
	height: 6vw;
	padding: 0 1.25vw
}
.social-text {
	display: flex;
	flex-direction: column;
	height: 75%;
	justify-content: space-around;
}
.social-text h2 {
	text-align: right;
}
.email p {
	padding: 1vw 0;
}
.back {
	background-color: var(--global--color-blue);
	padding: 1vw;
	border-radius: 100px;
	height: 6vw;
}
 a.social:nth-child(2n) .back {
	background-color: var(--global--color-green);
}
.zmdi{
	font-size: 4vw;
	height: 4vw;
	width: 4vw;
	text-align: center;
	color: white;
}
.zmdi.black {
	color: black;
}




/*
* Footer
*	==============================================
*/
footer {
	background-color: var(--global--color-grey);
}
.ftr {
	width: calc(.969 * var(--responsive--aligndefault-width));
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 1vw 0;
}
.ftr a {
	color: black;
}
.ftr a:hover {
	color: rgba(0,0,0,.5);
}




/*---------------------------------------*/

/*
* Individual Pages
*	==============================================
*/




/*
* about/personal background page
*	==============================================
*/
.personal-area {
	width: calc( .95 * var(--responsive--aligndefault-width));
	margin: auto;

	padding: 7vw 0;
	display:flex;
}
.column-1, .column-2, .column-3, .column-4 {
	display: flex;
	flex-direction: column;
}
.column-1, .column-4 {
	flex-basis: 30%;
}
.column-2, .column-3 {
	flex-basis: 20%;
}
.column-2 {
	align-items: flex-end;
}
.column-3 {
	align-items: flex-start;
}


.personal-area p {
	line-height: 1.5;
	padding: 0 .75vw
}
.personal-area img {
	width: 15vw;
	height: 10vw;
	object-fit: cover;
}
.block-height {
	height: 10vw;
}
.column-4 .block-height {
	padding-top: 1.5vw;
}
.height {
	height: 11.5vw !important;
}
.more-h {
	height: 11.5vw;
	position: relative;
}
.more-h img {
	position: absolute;
	bottom: 0;
	left:0;
}
.block {
	height: 10vw;
	width: 10vw;
}
.grn {
	background-color: var(--global--color-green);
}
.blue {
	background-color: var(--global--color-blue);
}
.yellow {
	background-color: var(--global--color-yellow);
}
.grey {
	background-color: var(--global--color-grey);
}

.more-photos {
	width: calc( .85 * var(--responsive--aligndefault-width));
	margin: auto;
	text-align: center;
	padding: 1vw 0 6vw 0;
}






/*
*  work/experiences page
*	==============================================
*/
.experience-section {
	background-color: var(--global--color-grey);
	padding: 5vw 0;
}